@config "../../tailwind.config.js";
@import "tailwindcss";

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'lato', 'Helvetica Neue', 'Verdana', 'YuGothic', 'Meiryo', 'sans-serif';
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Pagination Styles */

.pagination-button {
    @apply flex justify-center items-center rounded-full cursor-pointer transition-all duration-[0.2s] ease-in-out;
    width: 45px;
    height: 45px;
    background-color: #eee;
}

.pagination-button:hover:not(.disabled) {
    background-color: #e9ecef;
}

.pagination-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination-info {
    font-size: 1rem;
    font-weight: 500;
}

.nav-title {
    @apply uppercase text-lg text-primary leading-[1.1] font-lato mb-1.5 tracking-wide;
}

.blog-card-tags-icon::before {
    content: '\f02b';
    color: #3c3c3c;
    font-family: FontAwesome;
}

.markdown-container ul ul {
    list-style-type: circle;
}

.markdown-container ol ol {
    list-style-type: lower-roman;
}

.markdown-container blockquote p {
    @apply m-0;
}
